body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #5393f37c;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px
rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
}
form {display: flex;
    gap: 10px;
}
input {
    flex: 1;
    cursor: pointer;
    background-color: #2f93fd60;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: #0056b3;
}
li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0463c2af;
    padding: 8px;
    border-radius: 12px;
}
.eliminar{
background-color: rgba(3, 221, 250, 0.671);
padding: 5px 8px;
font-size: 12px;
}.eliminar :hover{
    background-color: rgba(3, 221, 250, 0.671);
}